@import 'tailwindcss';
@import './tipography';
@import './component';

@layer base {
  body {
    display: grid;
    place-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    min-height: 100dvh;
  }
}

@theme {
  --color-blue900: #13183f;
  --color-blue600: #666ca3;
  --color-pink600: #f74780;
  --color-pink300: #ffa7c3;
  --color-grey: #83869a;
  --color-white: #ffffff;
}


