@utility preset-1 {
  font-size: clamp(2.50rem, calc(1.357rem + 2.381vw), 3.50rem);
  font-weight: 800;
  line-height: 1.2;
}
@utility preset-3 {
  font-size: clamp(1.50rem, calc(0.929rem + 1.190vw), 2.00rem);
  font-weight: 800;
  line-height: 1.2;
}
@utility preset-4 {
  font-size: clamp(1.25rem, calc(0.964rem + 0.595vw), 1.50rem);
  font-weight: 800;
  line-height: 1.2;
}
@utility preset-5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-grey);
}
@utility preset-7 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
@utility preset-p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-grey);
}
