@layer components {
  .btn-nav {
    color: var(--color-white);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--color-green);
    text-underline-offset: 10px;
    height: 35px;
    cursor: pointer;
  }
  .btn-nav:hover,
  .btn-nav:focus {
    color: var(--color-green);
  }
  .btn {
    background-color: var(--color-green);
    padding-block: 12px;
    padding-inline: 30px;
    border: 2px solid var(--color-green);
    color: var(--color-slate900);
    height: 53px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .btn:hover,
  .btn:focus {
    background-color: inherit;
    color: var(--color-green);
    border: 2px solid var(--color-green);
  }

  .bg-pattern-1 {
    background-image: url('/assets/images/bg-pattern-1.svg');
    background-repeat: no-repeat;
    position: absolute;
    height: 300px;
    width: 314px;
    top: -8px;
    left: -228px;
    @variant md {
      top: -8px;
      left: -270px;
    }
    @variant xl {
      top: 40px;
      left: -480px;
    }
  }
  .bg-pattern-2 {
    background-image: url('/assets/images/bg-pattern-2.svg');
    background-repeat: no-repeat;
    position: absolute;
    height: 170px;
    width: 170px;
    bottom: 25px;
    right: -90px;
    @variant md {
      bottom: 50px;
      right: -130px;
    }
    @variant xl {
      bottom: 200px;
      right: -425px;
    }
  }
  .bg-pattern-3 {
    background-image: url('/assets/images/bg-pattern-3.svg');
    background-repeat: no-repeat;
    position: absolute;
    height: 200px;
    width: 220px;
    bottom: -70px;
    left: 70px;
    @variant md {
      bottom: -100px;
      left: 260px;
    }
    @variant xl {
      bottom: -50px;
      left: 400px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 335px;
    margin: auto;
    @variant md {
      max-width: 680px;
    }
    @variant xl {
      max-width: 1120px;
      flex-direction: row;
    }
  }

  .value {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    @variant md {
      flex-direction: row;
      gap: 56px;
    }
    @variant xl {
      flex-direction: column;
      gap: 56px;
      max-width: 352px;
    }
  }
  .numbers {
    font-size: 20px;
    line-height: 0.4;
    font-family: var(--font-fraunces);
  }

  .frame-15 {
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-slate500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
  }
  .frame-296 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @variant md {
      gap: 28px;
      text-align: start;
      width: 576px;
    }
    @variant xl {
      text-align: center;
      width: 352px;
    }
  }

  .cta-content {
    width: 335px;
    height: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
    background-color: var(--color-slate900);
    color: var(--color-white);
    text-align: center;
    position: absolute;
    bottom: 0;
    @variant md {
      width: 504px;
      height: 390px;
      right: 0;
      text-align: start;
      align-items: start;
      padding: 48px;
    }
    @variant xl {
      width: 730px;
      height: 411px;
      right: 0;
      text-align: start;
      align-items: start;
      padding: 64px;
    }
  }

  .icon-facebook {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-slate500);
    mask-image: url('/assets/images/icon-facebook.svg');
    mask-repeat: no-repeat;
    mask-position: center;
  }
  .icon-facebook:hover,
  .icon-facebook:focus {
    background-color: var(--color-slate900);
  }
  .icon-twitter {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-slate500);
    mask-image: url('/assets/images/icon-twitter.svg');
    mask-repeat: no-repeat;
    mask-position: center;
  }
  .icon-twitter:hover,
  .icon-twitter:focus {
    background-color: var(--color-slate900);
  }
  .icon-instagram {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-slate500);
    mask-image: url('/assets/images/icon-instagram.svg');
    mask-repeat: no-repeat;
    mask-position: center;
  }
  .icon-instagram:hover,
  .icon-instagram:focus {
    background-color: var(--color-slate900);
  }
}
