@import 'tailwindcss';
@import './tipography';
@import './component';

@layer base {
  body {
    display: grid;
    place-items: center;
    min-height: 100dvh;
  }
  /* * {
    border: 1px solid black;
  } */
}

@theme {
  --color-green: #44ffa1;
  --color-slate900: #24053e;
  --color-slate500: #584d62;
  --color-slate100: #fcf8ff;
  --color-white: #ffffff;

  --font-fraunces: 'Fraunces', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}


