:root {
  /* Colors Primary */
  --Green-200: hsl(173, 61%, 77%);
  --Green-400: hsl(172, 67%, 45%);
  --Green-750: hsl(183, 79%, 24%);
  --Green-800: hsl(183, 85%, 21%);
  --Green-900: hsl(183, 100%, 15%);
  --Orange-400: hsl(13, 70%, 60%);

  /* Colors Neutral */
  --Grey-50: hsl(189, 47%, 97%);
  --Grey-200: hsl(185, 41%, 84%);
  --Grey-300: hsl(184, 19%, 68%);
  --Grey-400: hsl(184, 14%, 56%);
  --Grey-500: hsl(186, 14%, 43%);
  --Grey-550: hsl(180, 18%, 40%);
  --Grey-600: hsl(180, 25%, 32%);
  --White: hsl(0, 100%, 100%);
  --Black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "space mono", sans-serif;
  font-weight: 700;
  line-height: 24px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Grey-200);
}

.splitter {
  margin-block: 3.125rem;
  text-align: center;
}

/* -------------------------MAIN CONTAINER--------------------- */
.main-cont {
  width: 23.4375rem;
  padding: 2rem 1.5rem;
  border-radius: 1.5625rem 1.5625rem 0 0;
  background-color: var(--White);
}
/* ---------------------------FORMULARIO---------------------- */

.content-cont {
  width: 20.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
/* -------------------------SECCION 1--------------------- */

label {
  color: var(--Grey-500);
}

.bill-cont {
  width: 19.4375rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bill-cont > * {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cash,
.people {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: 0.125rem solid transparent;
  outline: none;
  border-radius: 0.3125rem;
  background-color: var(--Grey-50);
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: right;
}

.cash::placeholder,
.people::placeholder {
  color: var(--Green-900);
}

.cash:focus,
.people:focus {
  border-color: var(--Green-400);
}

.bill-amount,
.people-input {
  position: relative;
}

.bill-amount::before {
  content: "";
  position: absolute;
  background-image: url(images/icon-dollar.svg);
  left: 1rem;
  top: 0.9375rem;
  width: 0.615rem;
  height: 0.9663rem;
}

.people-input::before {
  content: "";
  position: absolute;
  background-image: url(images/icon-person.svg);
  left: 1rem;
  top: 1rem;
  width: 0.8125rem;
  height: 1rem;
}

.tip-opt-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.tip-btn {
  width: 9.1875rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: var(--Green-900);
  color: var(--White);
  font-size: 1.5rem;
  line-height: 2.25rem;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tip-btn:hover {
  background-color: var(--Green-400);
  border: none;
}
.tip-btn:active {
  background-color: var(--Green-200);
  border: none;
}

.custom {
  width: 9.1875rem;
  height: 3rem;
  background-color: var(--Grey-50);
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--Grey-550);
  border: 0.125rem solid transparent;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.custom:focus {
  border-color: var(--Green-400);
}

/* Validación de Errores */
.label-wrapper {
  display: flex;
  justify-content: space-between;
}

.error-msg {
  color: var(--Orange-400);
}

.input-error {
  border-color: var(--Orange-400) !important;
}

/* -------------------------SECCION 2--------------------- */

.result-container {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.9375rem;
  background-color: var(--Green-900);
}

.result-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.results-datails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tip-amout-row,
.total-amount-row {
  display: flex;
  justify-content: space-between;
}

.tip-amout,
.total {
  line-height: 1.5rem;
  color: var(--White);
}

.person {
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  color: var(--Grey-400);
}

output {
  font-size: 2rem;
  color: var(--Green-400);
}

.reset {
  height: 3rem;
  border-radius: 0.3125rem;
  background-color: var(--Green-750);
  border: none;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--Green-800);
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.reset:hover {
  background-color: var(--Green-400);
  border: none;
}
.reset:active {
  background-color: var(--Green-200);
  border: none;
}

/* ----------------- TABLET MODE--------------------- */

@media (min-width: 47.5rem) {
  .main-cont {
    width: 38rem;
    padding: 3rem 5rem;
    border-radius: 1.5625rem;
  }

  .content-cont {
    width: 28.5625rem;
    gap: 2.5rem;
  }
  .bill-cont {
    width: 28.5625rem;
    gap: 1.5rem;
  }

  .tip-opt-cont {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  /* -------------------------SECCION 2--------------------- */

  .result-container {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
  }
  .result-content {
    width: 22.625rem;
    gap: 1rem;
  }

  .tip-amout-row,
  .total-amount-row {
    align-items: center;
  }
  .results-datails {
    gap: 0.5rem;
  }

  output {
    font-size: 3rem;
    line-height: 4.4375rem;
  }
}

/* ----------------- DESKTOP MODE--------------------- */

@media (min-width: 87.5rem) {
  .main-cont {
    width: 57.5rem;
    padding: 2rem;
    justify-content: center;
  }
  .content-cont {
    width: 52.5rem;
    height: 26.0625rem;
    gap: 3rem;
    flex-direction: row;
  }

  .bill-cont {
    width: 23.6875rem;
    gap: 2.5rem;
  }

  .tip-btn,
  .custom {
    width: 115px;
  }

  /* -------------------------SECCION 2--------------------- */

  .result-container {
    width: 100%;
    height: 26.0625rem;
    padding: 2rem;
  }

  .result-content {
    width: 20.8125rem;
    gap: 8rem;
  }

  .results-datails {
    gap: 1.5rem;
  }
}

/* SECCION FOOTER */

.attribution-list {
  display: flex;
  margin-block-start: 0.625rem;
  font-size: clamp(0.69rem, 0.75vw + 0.5rem, 0.88rem);
  color: var(--white);
  list-style: none;
  gap: 1.25rem;
}
.attribution-list li::before {
  margin-left: -2.5rem;
}

.attribution-list a {
  color: var(--Green-400);
  text-decoration: none;
}
