@import 'tailwindcss';

@theme {
  --color-blue-200: #cee3e9;
  --color-blue-600: #4f5d74;
  --color-blue-900: #313a48;
  --color-blue-950: #202733;
  --color-green-300: #53ffaa;  
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-blue-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-blue-200);
}
