@import 'tailwindcss';
@font-face {
  font-family: 'RedHatText';
  src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background-color: var(--color-red-50);
    min-height: 100dvh;
    font-family: 'RedHatText', sans-serif;
  }
}

@theme {
  --color-red: #c73b0f;
  --color-green: #1ea575;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;
}

@utility text-preset-1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0px;
}
