@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: var(--font-Rubik);
  }
}
@theme {
  /* Grey */
  --color-grey-500: #626C7F;
  --color-grey-50: #F4F6FA;

  /* Blue */
  --color-blue-950: #2D3949;
  --color-blue-900: #313E51;
  --color-blue-850: #3B4D66;
  --color-blue-500: #306AFF;
  --color-blue-300: #ABC1E1;
  --color-blue-100: #EDF1F9;
  --color-blue-50: #EBF0FF;

  /* Green */
  --color-green-500: #2FD887;
  --color-green-100: #E0FDEF;

  /* Purple */
  --color-purple-600: #A729F5;
  --color-purple-100: #F6E7FF;

  /* Orange */
  --color-orange-400: #FF7E35;
  --color-orange-50: #FFF5ED;

  /* Red */
  --color-red-500: #EE5454;

  --font-Rubik: 'Rubik', sans-serif;
}

.bg-quiz-app {
  background-image: url('../assets/images/pattern-background-mobile-light.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

 
  @variant md {
    background-image: url('../assets/images/pattern-background-tablet-light.svg');
    background-size: contain;
    background-position: left top;
  }
  @variant xl {
    background-image: url('../assets/images/pattern-background-desktop-light.svg');
     background-size: cover;
  }
  @variant dark {
    background-image: url('../assets/images/pattern-background-mobile-dark.svg');
    @variant md {
      background-image: url('../assets/images/pattern-background-tablet-dark.svg');
    }
    @variant xl {
      background-image: url('../assets/images/pattern-background-desktop-dark.svg');
    }
  }
}

@utility text-preset-1 {
  font-size: 144px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
}
