@import 'tailwindcss';

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Neutros */
  --color-neutral-900: #0d082d;
  --color-neutral-700: #4b4869;
  --color-neutral-500: #8784a5;
  --color-neutral-300: #d1d0d5;
  --color-neutral-0: #ffffff;

  /* Naranjas */
  --color-orange-700: #e1604f;
  --color-orange-500: #f57463;

  /* Gradientes personalizados */
  --background-image-gradient-text: linear-gradient(90deg, #f37362 0%, #ffffff 100%);

  --font-inconsolata: 'Inconsolata', sans-serif;

  --background-image-mobile: url('../assets/images/background-mobile.png');
  --background-image-tablet: url('../assets/images/background-tablet.png');
  --background-image-desktop: url('../assets/images/background-desktop.png');
  --background-image-pattern-lines: url('../assets/images/pattern-lines.svg');
  --background-image-pattern-ticket: url('../assets/images/pattern-ticket.svg');
}

@layer base {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: 'Inconsolata', sans-serif;
    color: var(--color-neutral-0);
    position: relative;
    background-image: var(--background-image-pattern-lines), var(--background-image-mobile);
    background-repeat: no-repeat;
    background-size: 970px, cover;
    background-position:
      left top,
      left top;

    /* Mantiene el degradado fijo en pantalla solucionando la franja blanca */
    background-attachment: fixed;

    @variant md {
      background-image: var(--background-image-pattern-lines), var(--background-image-tablet);
    }
    @variant xl {
      background-image: var(--background-image-pattern-lines), var(--background-image-desktop);
    }
  }

  label {
    @apply text-preset-3;
  }
}

/* ==========================================================================
   UTILITIES - PRESETS DEL FORMULARIO
   ========================================================================== */
@utility text-preset-1 {
  font-size: clamp(1.88rem, calc(0.086rem + 7.634vw), 3.75rem);
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1px;
}
@utility text-preset-2 {
  font-size: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.5rem);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.5px;
}
@utility text-preset-3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.5px;
}
@utility text-preset-4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}
@utility text-preset-5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
@utility text-preset-6 {
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.3px;
}
@utility text-preset-7b {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.2px;
}

/* ==========================================================================
   UTILITIES - PRESETS DEL TICKET COMPONENT
   ========================================================================== */
@utility text-preset-1t {
  font-size: clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -1px;
}
@utility text-preset-2t {
  font-size: clamp(0.88rem, calc(0.636rem + 1.018vw), 1.13rem);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  color: var(--color-neutral-300);
}
@utility text-preset-3t {
  font-size: clamp(1.25rem, calc(0.654rem + 2.545vw), 1.88rem);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
}
@utility text-preset-4t {
  font-size: clamp(0.88rem, calc(0.517rem + 1.527vw), 1.25rem);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--color-neutral-300);
}
@utility text-preset-5t {
  font-size: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.5rem);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--color-neutral-300);
}
@utility text-preset-6t {
  font-size: clamp(1.38rem, calc(0.898rem + 2.036vw), 1.88rem);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1px;
}
