@import 'tailwindcss';

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Neutros */
  --color-neutral-900: #0d082d;
  --color-neutral-700: #4b4869;
  --color-neutral-500: #8784a5;
  --color-neutral-300: #d1d0d5;
  --color-neutral-0: #ffffff;
  /* Naranjas */
  --color-orange-700: #e1604f;
  --color-orange-500: #f57463;
  /* Gradientes personalizados */
  --background-image-gradient-01: linear-gradient(90deg, #f37362 0%, #ffffff 100%);

  --font-inconsolata: 'Inconsolata', sans-serif;

  --background-image-mobile: url('../assets/images/background-mobile.png');
  --background-image-tablet: url('../assets/images/background-tablet.png');
  --background-image-desktop: url('../assets/images/background-desktop.png');
  --background-image-pattern-lines: url('../assets/images/pattern-lines.svg');
}

@layer base {
  body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100dvh;
    font-family: 'Inconsolata',sans-serif;
    background-image: var(--background-image-pattern-lines), var(--background-image-mobile);
    background-repeat: no-repeat;
    background-size: 970px, cover;
    background-position:
      left top,
      left top;

    @variant md {
      background-image: var(--background-image-pattern-lines), var(--background-image-tablet);
    }
    @variant xl {
      background-image: var(--background-image-pattern-lines), var(--background-image-desktop);
    }
  }
}

@utility text-preset-1 {
  font-size: clamp(1.88rem, calc(0.086rem + 7.634vw), 3.75rem);
  font-weight: 800; 
  line-height: 1.1; 
  letter-spacing: -1px;
}
@utility text-preset-2 {
  font-size: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.50rem);
  font-weight: 500; 
  line-height: 1.2; 
  letter-spacing: -0.5px;
}
