@import "tailwindcss";

@layer base{
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    position: relative;
    padding: 24px;

    font-family: 'Inter', sans-serif;

    @variant md{
      min-height: 1024px;
    }

    @variant xl{
      padding:50px;
      min-height: 800px;
    }
  }
}

@theme {
  /* Grays */
  --color-gray-400: #B9B9CE;
  --color-gray-100: #EBEBEB;
  --color-gray-50: #F4F4FC;

  /* Brand Colors */
  --color-purple-500: #CF6BCB;
  --color-pink-500: #D3629D;
  --color-blue-950: #202047;

  /* Gradient Colors */
  --color-gradient-start: #9975D0;
  --color-gradient-end: #4A3FDB;

  /* Custom Gradient Utility */
  --background-gradient: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));

  --shadow-img: 0 40px 50px -30px rgba(36, 36, 113, 0.50);
  --shadow-btn: 0 15px 20px -10px rgba(36, 36, 113, 0.10);
}

@utility preset-1{
 font-size: clamp(1.13rem, calc(0.290rem + 3.562vw), 2.00rem);
 font-weight: 300;
 line-height: 135%;
 color:var(--color-blue-950); 
}
@utility preset-2{
font-size: clamp(0.94rem, calc(0.639rem + 1.272vw), 1.25rem);
 font-weight: 700;
 line-height: 135%;
 color:var(--color-blue-950); 
 @variant md{
  line-height:190%;
 }
}
