@import "tailwindcss";
@plugin "@iconify/tailwind4";

@layer base {
  body {
    font-family: var(--font-IMB);
    background-color: var(--color-white);
    display: grid;
    place-items: center;
    min-height: 100dvh;
    color: var(--color-slate);
    position: relative;
  }
}

@layer components {
  .bg-main {
    background-image: url("/assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 170%;
    @variant md {
      background-image: url("/assets/bg-main-tablet.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 150%;
    }
  }
  .bg-pattern-1 {
    background-image: none;
    @variant md {
      background-image: url("/assets/bg-pattern-1.svg");
      background-size: 267px 400px;
      background-repeat: no-repeat;
      background-position: top -40px right -50px;      
    }
  }
  .bg-pattern-2 {
    background-image: url("/assets/bg-pattern-2.svg");
    background-color: var(--color-slate);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    @variant md {
      background-position: 0% 0%;
    }
  }
  .buttons {
    height: 64px;
    border-radius: 12px;
    padding: 16px 32px;
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  .btn-apple {
    @apply preset6 text-white bg-slate cursor-pointer hover:bg-cyan hover:text-slate
     focus:bg-cyan focus:text-slate;
  }
  .btn-android {
    @apply preset6 text-slate bg-white cursor-pointer hover:bg-yellow hover:text-slate focus:bg-yellow;
  }
  .icon-apple {
    width: 18px;
    height: 20px;
    background-color: currentColor;
    mask-image: url("/assets/icon-apple.svg");
  }
  .icon-android {
    width: 17px;
    height: 20px;
    background-color: currentColor;
    mask-image: url("/assets/icon-android.svg");
  }
  .icon-facebook {
    width: 20px;
    height: 20px;
    background-color: currentColor;
    mask-image: url("/assets/icon-facebook.svg");
    @apply hover:bg-orange focus:bg-orange cursor-pointer;
  }
  .icon-instagram {
    width: 20px;
    height: 20px;
    background-color: currentColor;
    mask-image: url("/assets/icon-instagram.svg");
    @apply hover:bg-orange focus:bg-orange cursor-pointer;
  }
  .icon-twitter {
    width: 20px;
    height: 17px;
    background-color: currentColor;
    mask-image: url("/assets/icon-twitter.svg");
    @apply hover:bg-orange focus:bg-orange cursor-pointer;
  }
  /* footer-personal */
  .attribution {
    @apply text-[13px] font-bold md:text-[16px];
  }
  .link-attribution {
    @apply text-orange font-bold;
  }
}

@theme {
  --color-slate: #191826;
  --color-white: #fcfaf9;
  --color-cyan: #66e2dc;
  --color-orange: #fa7453;
  --color-yellow: #ffb964;

  --font-IMB: "IBM Plex Sans", sans-serif;
}

@utility preset1 {
  font-size: 88px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
}
@utility preset1-mobil {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
}

@utility preset2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

@utility preset3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
}

@utility preset4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
@utility preset4t {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
@utility preset4-mobil {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@utility preset5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@utility preset5-bold {
  @apply preset5 font-bold;
}

@utility preset6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
}
