@import "tailwindcss";

@layer base{
  body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--color-navy-850);
  }
}

@theme {
  
  /* Bloque de Oscuros */
  --color-navy-950: #051524; 
  --color-navy-900: #181f2b; 
  --color-navy-850: #1b2330; 
  --color-navy-800: #202a3c; 
  --color-navy-50: #dfe4f0;  

  /* Bloque de Azules */
  --color-blue-300: #42e0d9; 
  --color-blue-250: #8adae3; 

  /* Bloque de Rojos (Validaciones) */
  --color-red-500: #ff4242;  

  /* Bloque de Grises */
  --color-gray-400: #c0c0c0; 

  /* Gradiente para botones */
  --background-image-gradient-cyan-blue: linear-gradient(135deg, #63e1d9 0%, #34a0cd 100%);

  /* Fuentes */
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

/* Preset 1: (Raleway regular) -> Mín: 12px | Máx: 16px */
@utility text-preset-1 {
  font-family: var(--font-raleway);
  font-weight: 400;
  font-size: clamp(0.75rem, calc(0.511rem + 1.018vw), 1.00rem);
  line-height: 1.2;
  letter-spacing: 0px;
  color:white;
}
/* Preset 2: (Raleway bold) -> Mín: 20px | Máx: 40px */
@utility text-preset-2 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: clamp(1.25rem, calc(0.057rem + 5.089vw), 2.50rem);
  line-height: 1.2;
  letter-spacing: 0px;
  color:white;
}
/* Preset 2: (Raleway bold) -> Fijo: 20px  */
@utility text-preset-2F {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0px;
  color:white;
}
/* Preset 3: (open sans regular) -> Mín: 14px | Máx: 20px */
@utility text-preset-3 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: clamp(0.88rem, calc(0.517rem + 1.527vw), 1.25rem);
  line-height: 1.5;
  letter-spacing: 0px;
  color:white;
}
/* Preset 3: (open sans regular) -> Fijo: 14px */
@utility text-preset-3F {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  color:white;
}
/* Preset 4: boton (Raleway bold) -> Mín: 14px | Máx: 16px */
@utility text-preset-4 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: clamp(0.88rem, calc(0.756rem + 0.509vw), 1.00rem);
  line-height: 1.2;
  letter-spacing: 0px;
  color:white;
}
/* Preset 5: (Raleway bold) -> Mín: 16px | Máx: 40px */
@utility text-preset-5 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: clamp(1.00rem, calc(-0.431rem + 6.107vw), 2.50rem);
  line-height: 1.2;
  letter-spacing: 0px;
  color:white;
}
/* Preset 6: (open sans regular) -> Mín: 14px | Máx: 16px */
@utility text-preset-6 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: clamp(0.88rem, calc(0.756rem + 0.509vw), 1.00rem);
  line-height: 1.5;
  letter-spacing: 0px;
  color:white;
}
/* Preset 7: (open sans regular) -> Mín: 10px | Máx: 14px */
@utility text-preset-7 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: clamp(0.63rem, calc(0.386rem + 1.018vw), 0.88rem);
  line-height: 1.8;
  letter-spacing: 0.5px;
  color:white;
  opacity: 80%;
  @variant md{
  line-height: 1.5;
  letter-spacing: 0px;
  }
}
/* Preset 8: (open sans bold) -> Fijo: 10px */
@utility text-preset-8F {
  font-family: var(--font-open-sans);
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0px;
  color:white;
}
/* Preset 9: (open sans regular) -> Fijo: 7px */
@utility text-preset-9F {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 7px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color:white;
  opacity: 80%;
}