@import "tailwindcss";

@theme {
  
  /* Bloque de Oscuros */
  --color-navy-950: #051524; 
  --color-navy-900: #181f2b; 
  --color-navy-850: #1b2330; 
  --color-navy-800: #202a3c; 
  --color-navy-50: #dfe4f0;  

  /* Bloque de Azules */
  --color-blue-300: #42e0d9; 
  --color-blue-250: #8adae3; 

  /* Bloque de Rojos (Validaciones) */
  --color-red-500: #ff4242;  

  /* Bloque de Grises */
  --color-gray-400: #c0c0c0; 

  /* Gradiente para botones */
  --background-image-gradient-cyan-blue: linear-gradient(135deg, #63e1d9 0%, #34a0cd 100%);

  /* Fuentes */
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

/* Preset 1: (Raleway Bold) -> Mín: 24px | Máx: 40px */
@utility text-preset-1 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: clamp(1.5rem, 1.218rem + 1.2vw, 2.5rem);
  line-height: 1.2;
  letter-spacing: 0px;
}

/* Preset 2: (Raleway Bold) -> Mín: 18px | Máx: 20px */
@utility text-preset-2 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: clamp(1.125rem, 1.081rem + 0.19vw, 1.25rem);
  line-height: 1.2;
  letter-spacing: 0px;
}

/* Preset 3: (Raleway Bold) -> Fijo: 14px */
@utility text-preset-3 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0px;
}

/* Preset 4: (Raleway Bold) -> Fijo: 14px */
@utility text-preset-4 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 0px;
}

/* Preset 5: (Raleway Bold) -> Fijo: 12px */
@utility text-preset-5 {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0px;
}


/* --- GRUPO OPEN SANS (400 / 700) --- */

/* Preset 6: (Open Sans Regular) -> Mín: 15px | Máx: 20px */
@utility text-preset-6 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: clamp(0.938rem, 0.828rem + 0.47vw, 1.25rem);
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Preset 7: (Open Sans Regular) -> Fijo: 14px */
@utility text-preset-7 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Preset 8: (Open Sans Regular) -> Fijo: 14px */
@utility text-preset-8 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* Preset 9: (Open Sans Regular) -> Fijo: 10px */
@utility text-preset-9 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.375;
  letter-spacing: 0px;
}

/* Preset 10: (Open Sans Regular) -> Fijo: 11px */
@utility text-preset-10 {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 0.688rem;
  line-height: 1.45;
  letter-spacing: 0.5px;
}