@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body {
  font-family: 'Red Hat Text', sans-serif;
  background:
    url('../assets/images/pattern-hills.svg'), url('../assets/images/bg-stars.svg'),
    linear-gradient(180deg, #1d1e28 0%, #261c2d 95%, #261a2d 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    -489px bottom,
    center,
    center;
  background-size: 250%, auto, auto;
  min-height: 100dvh;
  color: white;
}

@theme {
  --color-lavender-300: hsl(237, 18%, 59%);
  --color-pink-100: hsl(345, 95%, 68%);

  --color-slate-700: hsl(236, 21%, 26%);
  --color-slate-800: hsl(235, 16%, 14%);
  --color-slate-900: hsl(234, 17%, 12%);
}

@utility text-preset-1 {
  font-size: clamp(1.13rem, calc(0.886rem + 1.018vw), 1.38rem);
  letter-spacing: 6.14px;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
}
