@import "tailwindcss";
@plugin "@iconify/tailwind4";


@theme {  
  --color-white: #ffffff;
  --color-black: #000000;
  --color-magenta-400: #e880e8;
  --color-purple-700: #684bb1;
  --color-pink-400: #ff52c1;
  --color-gray-100: #e1e8ee;
  --color-gray-400: #a7b9c8;
  --color-blue-950: #00252e;

  --background-image-gradient-1: linear-gradient(138.55deg, #ff52c1 0%, #9952ff 100%);
  --background-image-gradient-2: linear-gradient(226.81deg, #ff52c1 0%, rgba(153, 82, 255, 0) 100%);
  --background-image-gradient-3: linear-gradient(180deg, #00c7fa 0%, #007dfa 100%);
  --background-image-gradient-4: linear-gradient(156.66deg, #fad961 0%, #ff52c1 100%);

  --shadow-buttom: 1px 3px 5px rgba(0, 0, 0, 0.269);

  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif; 
}

@utility text-preset-1 {
  font-family: var(--font-poppins);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
}

@utility text-preset-2 {
  font-family: var(--font-poppins);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

@utility text-preset-3 {
  font-family: var(--font-poppins);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

@utility text-preset-4 {
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

@utility text-preset-5 {
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@utility text-preset-6 {
  font-family: var(--font-poppins);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}