@import "tailwindcss";

@layer base{
  body{
    font-family: 'Space Grotesk', sans-serif;
  }
}

@theme {
  --color-gray950: #262626;
  --color-gray400: #A8AEB2;
  --color-gray200: #DFE0E5;

  --color-purple950: #21092F;
  --color-purple600: #D83AFF;
  --color-orange400: #FF854A;
  --color-blue400: #47A3FF;
  --color-red400: #FF5D5D;

  --bg-main-mobile: url('./assets/images/bg-main-mobile.png');
  --bg-main-desktop: url('./assets/images/bg-main-desktop.png');
  --bg-card-back: url('./assets/images/bg-card-back.png');
  --bg-card-front: url('./assets/images/bg-card-front.png');
  --bg-logo: url('./assets/images/card-logo.svg');
  --bg-complete: url('./assets/images/icon-complete.svg'); 
  

}

@utility preset-1 {
  font-size: 18px;
  letter-spacing: 2.5px;
  line-height: 1.3;  
}
@utility preset-2 {
  font-size: 9px;
  letter-spacing: 1.25px;
  line-height: 1.25;  
}

.card-back{
  background-image: url('./assets/images/bg-card-back.png');
  background-size: contain;
  background-repeat: no-repeat;

}