@import 'tailwindcss';

@layer base {
  body {
    @apply font-worksans bg-purple100 relative flex min-h-dvh flex-col items-center;
  }
}

@theme {
  --color-purple950: #301534;
  --color-purple600: #8b6990;
  --color-purple100: #f8eeff;
  --color-violet600: #ad28eb;
  --shadow-boxshw: 0 32px 56px rgba(80, 0, 118, 0.1);
  --font-worksans: 'Work Sans', sans-serif;
}

@utility preset-1 {
  font-size: clamp(2rem, calc(0.569rem + 6.107vw), 3.5rem);
  line-height: 1.19;
  font-weight: 700;
  color: var(--color-purple950);
}

@layer components {
  .bg-pattern {
    @apply h-58 w-full bg-[url(/assets/images/background-pattern-mobile.svg)] bg-cover bg-center bg-no-repeat;
    @variant md { @apply h-80 bg-[url(/assets/images/background-pattern-desktop.svg)]; }
  }

  .card {
    @apply shadow-boxshw flex max-w-81.75 -translate-y-[6.34rem] flex-col gap-6 rounded-lg bg-white p-6;
    @variant md { @apply max-w-150 -translate-y-[9.53rem] gap-8 rounded-2xl p-10; }
  }

  .faq-item {
    @apply flex flex-col gap-4;
    @variant md { @apply w-130; }
  }

  .faq-question-btn {
    @apply flex w-full cursor-pointer items-center justify-between text-left transition-colors duration-200;
  }

  .faq-question-btn:hover .question {
    @apply text-violet600;
  }

  .faq-question-btn:focus-visible {
    outline: 2px solid var(--color-violet600);
    outline-offset: 4px;
    border-radius: 4px;
  }

  .question {
    @apply text-purple950 w-5/6 text-[1rem] font-semibold leading-tight transition-colors;
    @variant md { @apply text-[1.125rem]; }
  }

  /* Estado del título cuando ya fue abierto */
  .question.viewed {
    @apply text-violet600;
  }

  .icon {
    @apply size-7.5 shrink-0 bg-[url(/assets/images/icon-plus.svg)] bg-no-repeat bg-contain transition-all;
  }

  .faq-question-btn[aria-expanded="true"] .icon {
    @apply bg-[url(/assets/images/icon-minus.svg)];
  }

  .answer {
    @apply text-purple600 text-[0.875rem] leading-normal font-normal;
    @variant md { @apply text-[1rem]; }
  }

  hr { @apply border-purple100 border; }

  .attribution {
    @apply absolute bottom-0 inset-x-0 py-2 text-center text-[0.813rem];
  }
  .attribution a, .year { @apply text-violet600 font-bold; }
}