@import 'tailwindcss';

@layer base {
  body {
    @apply font-worksans bg-purple100 relative flex min-h-dvh flex-col items-center;
  }
}

@theme {
  --color-purple950: #301534;
  --color-purple600: #8b6990;
  --color-purple100: #f8eeff;
  --color-violet600: #ad28eb;
  --shadow-boxshw: 0 32px 56px rgba(80, 0, 118, 0.1);

  --font-worksans: 'Work Sans', sans-serif;
}

@utility preset-1 {
  font-size: clamp(2rem, calc(0.569rem + 6.107vw), 3.5rem);
  line-height: 1.19;
  font-weight: 700;
  color: var(--color-purple950);
}

@layer components {
  .bg-pattern {
    @apply h-58 w-full bg-[url(/assets/images/background-pattern-mobile.svg)] bg-cover bg-center bg-no-repeat;
    @variant md {
      @apply h-80 bg-[url(/assets/images/background-pattern-desktop.svg)];
    }
  }
  .card {
    @apply shadow-boxshw flex max-w-81.75 -translate-y-[6.34rem] flex-col gap-6 rounded-lg bg-white p-6;
    @variant md {
      @apply max-w-150 -translate-y-[9.53rem] gap-8 rounded-2xl p-10;
    }
  }

  .faq-item {
    @apply flex items-center gap-6;
    @variant md {
      @apply w-130;
    }
  }

  button {
    @apply size-7.5 cursor-pointer bg-[url(/assets/images/icon-plus.svg)] bg-no-repeat;
  }

  button:focus-visible {
    outline: 0.125rem solid var(--color-violet600);
    outline-offset: 0.125rem;
    border-radius: 0.25rem;
  }

  a:focus-visible {
    outline: 0.125rem solid var(--color-violet600);
    outline-offset: 0.125rem;
    border-radius: 0.25rem;
  }

  button.active {
    @apply bg-[url(/assets/images/icon-minus.svg)];
  }

  .question {
    @apply text-purple950 w-56.25 text-[1rem] font-semibold;
    @variant md {
      @apply w-112.25 text-[1.125rem];
    }
  }

  .question.viewed {
    color: var(--color-violet600);
  }

  .answer {
    @apply text-purple600 text-[0.875rem] leading-normal font-normal;
    @variant md {
      @apply text-[1rem];
    }
  }

  hr {
    @apply border-purple100 border;
  }

  .attribution {
    font-size: clamp(0.81rem, calc(0.727rem + 0.364vw), 1rem);
    text-align: center;
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    padding-block: 0.3125rem;
  }
  .attribution a,
  .year {
    color: var(--color-violet600);
    font-weight: 700;
  }
}
