@import 'tailwindcss';

@layer base {
  body {
    min-height: 100dvh;
    display: grid;
    font-family: var(--font-karla);
    background-color: var(--color-green-200);
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-400);
    position: relative;
    @variant md {
      padding-block: var(--spacing-1600);
    }
  }
}

@theme {
  --color-grey-900: hsl(187, 24%, 22%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-white: hsl(0, 0%, 100%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-green-200: hsl(148, 38%, 91%);
  --color-red-errors: hsl(0, 66%, 54%);

  --font-karla: 'Karla', sans-serif;

  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1600: 128px;
}

@utility preset-1 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color-grey-900);
}

@utility label-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-grey-900);
}
@utility text-btn {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-white);
}

@layer components {
  .form-control {
    @apply border-grey-500 px-300 py-150 text-grey-900 w-full rounded-lg border transition-all duration-200 hover:border-green-600 focus:border-green-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-green-600 focus-visible:ring-offset-2;
  }

  .form-control.error {
    border-color: var(--color-red-errors);
  }

  .required-dot {
    @apply ml-2 text-green-600;
  }

  .query-option {
    @apply gap-150 border-grey-500 px-200 py-150 has-checked:bg-green-200 has-checked:border-green-600 flex cursor-pointer items-center rounded-lg border transition-all hover:border-green-600;
  }

  .radio-custom {
    @apply border-grey-500 flex h-6 w-6 appearance-none items-center justify-center rounded-full border-2 transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-green-600 focus-visible:ring-offset-2;
  }

  .radio-custom:checked {
    @apply border-green-600 bg-green-200;
  }

  .radio-custom:checked::after {
    content: '';
    @apply block h-3.5 w-3.5 rounded-full bg-green-600;
  }

  .checkbox-custom {
    @apply border-grey-500 flex h-6 w-6 shrink-0 cursor-pointer appearance-none items-center justify-center rounded border-2 transition-all;
  }

  .checkbox-custom:hover {
    @apply border-green-600;
  }
  .checkbox-custom:checked {
    @apply border-green-600;
    background-image: url('../assets/images/icon-checkbox-check.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .checkbox-custom:focus-visible {
    @apply outline-none ring-2 ring-green-600 ring-offset-2;
  }

  .btn-submit {
    @apply py-200 hover:bg-grey-900 text-btn mt-10 w-full cursor-pointer rounded-lg bg-green-600 outline-none transition-colors duration-200 focus:ring-4 focus-visible:ring-2 focus-visible:ring-green-600 focus-visible:ring-offset-2;
  }
}

@keyframes slideDown {
  from {
    transform: translate(0, -100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

[role='alert'].bg-grey-900:not(.hidden) {
  animation: slideDown 0.5s ease-out forwards;
}
