@import 'tailwindcss';

@theme {
  --color-cyan-400: #00fff8;
  --color-blue-500: #8bacd9;
  --color-blue-800: #2e405a;
  --color-blue-900: #15263f;
  --color-blue-950: #0d192c;
  --color-white: #ffffff;
}

@utility text-preset-1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.25;
}

@utility text-preset-2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.45;
}

@utility text-preset-3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

@utility text-preset-3-reg {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

@layer base {
  body {
    background-color: var(--color-blue-950);
    font-family: 'Outfit', sans-serif;
    color: var(--color-white);
    display: grid;
    place-content: center;
    height: 100vh;
  }
}
