@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    position: relative;
    min-height: 100dvh;
   
  }
}

.preset-1 {
  font-size: clamp(1.25rem, calc(0.773rem + 2.036vw), 1.75rem);
  line-height: 1.35;
  font-weight: 800;
  color: #392956;
}

.preset-2 {
  color: #848ead;
  font-size: clamp(0.81rem, calc(0.693rem + 0.509vw), 0.94rem);
  font-weight: 600;
  line-height: 1.76;
  @variant xl {
    line-height: 1.33;
  }
}

.attribution {
  font-size: clamp(0.75rem, calc(0.511rem + 1.018vw), 1rem);
  @apply fixed inset-x-0 bottom-0 py-2 text-center bg-white;
}
.attribution a,
.year {
  @apply hover:text-[#ff8c66] font-bold text-[#10d8c4] transition-all duration-300 ease-in-out focus-visible:outline-none focus-visible:ring-2;
}